$root-block-name: '.mcard';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__header: #{$p}__header;
  $p__content: #{$p}__content;

  @include flex(null, null, column);
  border-radius: 30px;
  overflow: hidden;
  width: 100%;

  &--ichiban {
    #{ $p__header} {
      padding: 0;
      align-items: end;
    }
  }
  &--login,
  &--register,
  &--mainpage,
  &--product-detail-one {
    min-height: 636px;
    box-shadow: 0px 12px 30px 0px #00000026;
  }

  &--memberCenter {
    min-height: 1315px;
    #{$p__content} {
      padding: 24px;

      @include screen(lg) {
        padding: 12px;
      }
      @include screen(md) {
        padding: 6px;
      }
    }
  }

  &--login {
    @include screen(xs) {
      min-height: 478px;
    }
  }

  &__header {
    padding: 16px 0;
    height: 74px;
    background: #6b9fd2;

    @include flex(center, center);

    #{$p__text} {
      font-size: 30px;
      font-weight: 400;
      color: #2a88cb;
    }
  }

  &__content {
    flex: 1;
    background: #fff;
    @include flex(null, null, column);
  }
}
