$root-block-name: '.marquee';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  @include w_h(100%, 68px);
  @include flex(center);
  overflow: hidden;
  background: rgba(194, 246, 246, 0.3);
  position: relative;
  border-radius: 50px;
  border: 1px solid #4285f4;
  max-width: 1280px;
  margin: 36px auto;
  &__msg {
    position: relative;
    white-space: nowrap;
    flex: 1;
    height: 100%;
    @include flex(center);
    overflow: hidden;
    #{$p__text} {
      font-size: 18px;
      font-weight: 400;
      position: absolute;
      left: 100vw;
      width: max-content;
      animation-name: marquee;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  &__logo {
    width: 106px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(66, 133, 244, 1);
    color: #fff;
    font-size: 32px;
  }

  &--sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
}

@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-100% - 100vw), 0, 0);
  }
}
