$root-block-name: '.marquee';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;

  @include w_h(100%, 68px);
  @include flex(center);
  overflow: hidden;
  background: #d4d4d44d;
  position: relative;
  border-radius: 50px;
  border: 1px solid #7c7c7c;
  max-width: 1280px;
  margin: 36px auto;

  &__msg {
    position: relative;
    white-space: nowrap;
    flex: 1;
    height: 100%;
    @include flex(center);
    overflow: hidden;
    padding: 0 12px;

    &-main {
      position: absolute;
      transition: transform 0.5s ease, opacity 0.5s ease;
      opacity: 1;

      &.animate {
        transform: translateY(-100%);
        opacity: 0;
      }
    }
  }

  &__logo {
    width: 106px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #d9d9d9 0%, #515151 100%);
    color: #fff;
    font-size: 32px;
  }
}
