$root-block-name: '.productCard';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__icon: #{$p}__icon;
  $p__img: #{$p}__img;
  $p__infos: #{$p}__infos;
  border-radius: 10px;
  overflow: hidden;

  &--mall {
    #{$p__img} {
      height: auto;
    }
    #{$p__infos} {
      display: none;
    }
  }

  &__img {
    width: 100%;
    height: 216px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__infos {
    display: flex;
    background: #6b9fd2;
    height: 87.54px;

    &-status {
      padding: 10px 20px;

      &--active {
        width: 100%;
        max-width: 192px;
        background: #2a88cb;
        display: flex;
        align-items: center;
        #{$p__icon} {
          display: flex;
          align-items: center;
          font-size: 58px;
          color: #ffffff;
        }
        #{$p__text} {
          color: #ffffff;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    &-data {
      padding: 10px 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      #{$p__text} {
        color: #2a88cb;
        &--title {
          font-size: 12px;
          font-weight: 700;
        }

        &--subtitle {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}
