$root-block-name: '.deposit';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;

  &__item {
    @include flex(center, center, column);
    width: 100%;
    padding: 64px 0;
    border-radius: 30px;
    background-color: #c0ffff;
    &-radio {
      display: none;
    }

    &.active {
      border: 2px solid #2a88cb;
      background: #2a88cb;
      color: #85ffff;
    }
    &-img {
      img {
        max-width: 174px;
      }
    }
    &-icon {
      width: 50px;
      height: 50px;
    }
    &-num {
      font-size: 40px;
      font-weight: 900;
      @include flex(center);
      gap: 24px;
    }
  }

  &__title {
    @include flex(center, center);
    #{$p__text} {
      font-size: 60px;
      font-weight: 400;
      position: relative;
      color: #2a88cb;
    }
  }
  &__btns {
    @include flex(center, center);
    gap: 16px;
    margin: 24px 0;
    flex-wrap: wrap;
  }
  &__btn {
    width: 170px;
    height: 53px;
    border-radius: 50px;
    cursor: pointer;
    @include flex(center, center);

    font-size: 25px;
    font-weight: 400;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: #4285f4;
    color: #fff;
    @include screen(md) {
      width: 157px;
      height: 34px;
      border: 1.5px solid #000000;
      font-family: Noto Sans;
      font-size: 15px;
      font-weight: 400;
    }
    &:hover {
      transform: scale(1.05);
    }
  }

  &__list {
    &-items {
      padding: 24px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      gap: 16px;

      @include screen(lg) {
      }
      @include screen(md) {
        padding: 8px;
        gap: 16px;
      }
    }

    &-item {
      @include flex(center, center, column);
    }
  }
}
