$root-block-name: '.mall-product';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  padding: 0 0 64px 0;
  max-width: 1280px;
  margin: 0 auto;

  &__sliderTitle {
    @include flex;
    font-size: 24px;
    font-weight: 700;
    color: #2a88cb;
    gap: 8px;
    margin-bottom: 24px;
    &-icon {
      @include flex(center);
    }

    &-text {
    }
  }

  &__slider {
    position: relative;
    &-list {
      width: 100%;
    }
    &-main {
    }
    &-btn {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #d4d4d4;
      color: #fff;
      cursor: pointer;
      z-index: 10;
      border-radius: 50%;
      font-size: 44px;
      @include flex(center, center);
      &--prev {
        left: -40px;
      }

      &--next {
        right: -40px;
      }
    }
    &-item {
      .productCard__detail {
        background-color: #ffe7cc;
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 480px 1fr;
    @include screen(md) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    @include w_h(100%, auto);
    &-main {
      width: 100%;
      height: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #aeaeb2;
      }
    }
    &-other {
      @include flex(null);
      gap: 16px;
      margin: 16px 0;
    }
    &-otherItem {
      width: 100%;
      max-width: 70px;
      height: 93px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #aeaeb2;
      }
      &--active {
        border: 3px solid #eb4335;
      }
    }
  }

  &__detail {
    margin-left: 48px;
    @include screen(md) {
      margin-left: 0;
    }
    &-title {
      font-size: 24px;
      font-weight: 800;
      word-break: break-all;
    }
    &-prices {
      margin-top: 48px;
      padding-bottom: 12px;
      height: 100px;
      border-bottom: 1px solid #aeaeb2;
      @include flex(center, space-between);
    }
    &-priceMain {
      @include flex(end);
      #{$p__text} {
        font-size: 32px;
        font-weight: 600;
        color: #7c7c7c;
      }
    }

    &-priceMoney {
      font-size: 80px;
      font-weight: 600;
      color: #fe4206;
      line-height: 1;
    }
    &-priceUnit {
      font-size: 32px;
      font-weight: 600;
      color: #7c7c7c;
      line-height: 1;
    }
    //

    &-priceCoupon {
      height: 100%;
      @include flex(null, end, column);
      gap: 12px;
    }

    &-priceCouponBtns {
      @include flex;
      gap: 8px;
    }

    &-priceCouponBtn {
      min-width: 104px;
      height: 34px;
      padding: 0 12px;
      @include flex(center, center);
      border: 1px solid #eb4335;
      color: #eb4335;
      background-color: #fff;
    }

    &-priceCouponTicket {
      @include flex(center, end);
      &-text {
        width: 136px;
        height: 30px;
        color: #eb4335;
        font-size: 20px;
        font-weight: 400;
        text-align: end;
      }
    }

    //

    &-otherNum {
      @include flex(center);
      height: 40px;
      gap: 64px;
      margin-top: 24px;
      &-title {
        font-size: 20px;
        font-weight: 400;
        color: #515151;
      }
      &-other {
        @include flex(center);
        gap: 12px;
      }

      &-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include flex(center, center);
        background: #aeaeb2;
        color: #fff;
        &--active {
          background: #fe4206;
        }
      }
      &-text {
        font-size: 48px;
        font-weight: 700;
      }
    }
    &-otherPreOrder {
      @include flex(center);
      height: 40px;
      gap: 64px;
      margin-top: 8px;
      &-title {
        font-size: 20px;
        font-weight: 400;
        color: #515151;
      }
      &-other {
        @include flex(center);
        gap: 12px;
      }
    }
    &-otherLogistics {
      @include flex(center);
      height: 40px;
      gap: 64px;
      margin-top: 8px;
      color: #7c7c7c;
      &-title {
        font-size: 20px;
        font-weight: 400;
        color: #515151;
      }
      &-other {
        @include flex(center);
        gap: 12px;
        &-icon {
          @include flex;
          gap: 12px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    &-otherPay {
      @include flex(center);
      height: 40px;
      gap: 64px;
      margin-top: 8px;
      &-title {
        font-size: 20px;
        font-weight: 400;
        color: #515151;
      }
      &-other {
        @include flex(center);
        gap: 12px;
      }
    }

    &-action {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      margin-top: 48px;
      @include screen(xs) {
        @include flex(center, center, column);
      }
      &-btn {
        width: 100%;
        min-width: 253px;
        height: 74px;
        border-radius: 90px;
        background: #2a88cb;
        color: #ffffff;
        gap: 12px;
        font-size: 24px;
        font-weight: 900;
        @include flex(center, center);

        &--red {
          background: #fe4206;
        }
        &-icon {
          font-size: 24px;
        }
        &-text {
          font-size: 24px;
          font-weight: 900;
        }
      }
    }
  }

  &__link {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
  }

  &__linkItem {
    @include flex(center);
    gap: 48px;
    &-title {
      min-width: 60px;
      font-size: 20px;
      font-weight: 400;
      color: #515151;
    }
    &-main {
      &--share {
        @include flex;
        gap: 8px;
        img {
          width: 28px;
          height: 28px;
        }
      }
      &--like {
        @include flex(center);
        font-size: 24px;
        gap: 8px;
        #{$p__text} {
          font-size: 20px;
          font-weight: 400;
          color: #515151;
        }
      }
      &--category {
        color: #4285f4;
      }
      &--hashTag {
        color: #4285f4;
      }

      &-likeIcon {
        &--active {
          color: #eb4335;
        }
      }
    }
  }

  &__tabs {
    margin-top: 96px;
  }

  &__tab {
    &-header {
      @include flex;
      border-bottom: 1px solid #2a88cb;
      gap: 64px;
    }

    &-item {
      padding: 8px 0;
      width: 92px;
      color: #7c7c7c;
      cursor: pointer;
      position: relative;
      font-size: 32px;
      font-weight: 800;
      @include flex(null, center);
      &--active {
        color: #2a88cb;
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -4px;
          width: 100%;
          height: 8px;
          background: #2a88cb;
          border-radius: 30px;
        }
      }
    }

    &-content {
      max-width: 920px;
      overflow: hidden;
      padding: 24px 0;
    }
    &-more {
      @include flex(center, center);
      cursor: pointer;
      color: #2a88cb;
      position: relative;
      height: 36px;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #2a88cb;
      }
      &-btn {
        font-size: 24px;
        font-weight: 400;
        width: 300px;
        background: #fff;
        z-index: 1;
        @include flex(center, center);
        gap: 12px;
        letter-spacing: 1px;
      }
    }
  }

  &__recommendations {
    #{$p__text} {
      font-size: 24px;
      font-weight: 700;
      color: #2a88cb;
      gap: 8px;
      margin-bottom: 24px;
    }

    &-list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 48px;
    }
  }
}
