$root-block-name: '.news';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__icon: #{$p}__icon;
  @include flex(null, null, column);
  gap: 36px;
  padding: 0 0 64px 0;
  max-width: 1280px;
  margin: 0 auto;

  @include screen(lg) {
    margin: 0 24px;
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 96px 0;
    padding: 48px 0;
    border-bottom: 1px solid #2a88cb;
    position: relative;

    &-title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      gap: 6px;
      #{$p__icon} {
        width: 60px;
        height: 60px;
        font-size: 32px;
      }
      #{$p__text} {
        font-size: 36px;
        font-weight: 700;
        color: #2a88cb;
      }
    }
  }

  &__list {
    @include flex(null, null, column);
    gap: 24px;
  }

  &__item {
    padding: 24px 0;
    border-bottom: 1px solid #aeaeb2;
    display: flex;
    gap: 24px;
    &-img {
      width: 100%;
      height: 100%;
      max-width: 250px;
      max-height: 250px;
    }
    &-content {
      flex: 1;
      #{$p__text} {
        &--title {
          font-size: 18px;
          font-weight: 800;
        }

        &--preview {
          margin-top: 24px;
          font-size: 16px;
          font-weight: 400;
          color: #515151;
        }
      }
    }
  }
}
