$root-block-name: '.productDetail';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__icon: #{$p}__icon;
  $p__ticket-img: #{$p}__ticket-img;
  padding: 0 0 64px 0;
  max-width: 1280px;
  margin: 0 auto;

  @include screen(lg) {
    margin: 0 24px;
  }

  &__status {
    display: flex;
    align-items: center;
    gap: 12px;
    #{$p__icon} {
      display: flex;
      font-size: 64px !important;
      color: #85ffff !important;
    }
    #{$p__text} {
      font-size: 24px !important;
      font-weight: 700 !important;
      color: #85ffff !important;
    }
  }

  &__infos {
    width: 100%;
    height: 860px;
    background: linear-gradient(90deg, #7897ba 0%, #cbeded 99%);
    border-radius: 20px;
    margin: 48px 0;
    position: relative;
  }

  &__endTime {
    position: absolute;
    bottom: 88px;
    right: 16px;
  }

  &__infoHeader {
    padding: 0 24px;
    min-height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      display: flex;
      justify-content: space-between;
      &--status {
        width: 320px;
      }
      #{$p__text} {
        font-size: 20px;
        font-weight: 700;
        color: #85ffff;
        &--money {
          font-size: 36px;
          font-weight: 700;
        }
        &--productName {
          font-size: 24px;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }
  &__infoImgs {
    width: 100%;
    height: 630px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__infoOther {
    padding-top: 24px;
    @include flex(center, center);
    gap: 48px;

    &-item {
      @include flex(center, center);
      gap: 12px;
      border: 1px solid #ffffff;
      padding: 8px 24px;
      border-radius: 50px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background: #ffffff;
        border-color: #a6c7d6;

        #{$p__icon} {
          color: #ffffff;
          background: #a6c7d6;
        }

        #{$p__text} {
          color: #a6c7d6;
        }
      }

      #{$p__icon} {
        width: 34px;
        height: 34px;
        background: #fff;
        border-radius: 50%;
        @include flex(center, center);
        color: #a6c7d6;
      }

      #{$p__text} {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
      }
    }
  }

  //
  &__awards {
    padding: 60px 0;
    display: flex;
    gap: 24px;
    &-list {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      @include screen(lg) {
        padding: 6px 0;
        grid-template-columns: 1fr;
        gap: 8px;
      }
    }

    &-infos {
      @include screen(lg) {
        display: none;
      }
    }
  }

  &__contact {
    width: 296px;
    height: 428px;
    position: relative;
    padding: 32px;
    &-img {
      position: absolute;
      inset: 0;
      z-index: 1;
    }
    img {
      width: 100%;
      height: 100%;
    }

    &-title {
      font-size: 48px;
      z-index: 2;
      padding: 6px 0;
      border-bottom: 2px solid #000;
      font-weight: 900;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-content {
      font-size: 24px;
      font-weight: 900;
      z-index: 2;
      position: relative;
    }
    &-social {
      z-index: 2;
      position: relative;
    }
  }
  &__awardItem {
    display: flex;
    align-items: center;
    gap: 12px;

    &-box {
      display: flex;
      flex-direction: column;
    }
    &-infos {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &-img {
      width: 84px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-grade {
      min-width: 38px;
      #{$p__text} {
        font-size: 16px;
        font-weight: 500;
        color: #2a88cb;
      }
    }
    &-name {
      @include screen(lg) {
        flex: 1;
      }
      #{$p__text} {
        font-size: 24px;
        font-weight: 500;
      }
    }
    &-num {
      #{$p__text} {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  //
  &__remainingQuantity {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    #{$p__text} {
      color: #2988cb;
      font-size: 28px;
    }
  }
  //
  &__sign {
    padding-top: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 48px;
    @include screen(lg) {
      padding-top: 24px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 24px;
      row-gap: 2px;
    }

    @include screen(md) {
      padding-top: 24px;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 24px;
      row-gap: 2px;
    }
  }

  &__ticket {
    &--active {
      #{ $p__ticket-img } {
        &-active {
          display: flex;
        }
      }
    }
    &-check {
      display: none;
    }

    &-img {
      position: relative;
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
      &-active {
        display: none;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        color: #fff;
        align-items: center;
        justify-content: center;
        font-size: 24px;
      }
    }
    #{$p__text} {
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      color: #2a88cb;
    }
  }

  &__more {
    @include flex(center, center);
    cursor: pointer;
    color: #2a88cb;
    position: relative;
    height: 36px;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #2a88cb;
    }
    &-btn {
      font-size: 24px;
      font-weight: 400;
      padding: 0 24px;
      background: #fff;
      z-index: 1;
      @include flex(center, center);
      gap: 12px;
      letter-spacing: 1px;
    }
  }

  &__action {
    margin: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    @include screen(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &-btn {
      min-width: 104px;
      padding: 0 24px;
      height: 50px;
      border-radius: 20px;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      transition: all 0.3s ease;
      cursor: pointer;

      img {
        width: 39px;
        height: 39px;
      }

      &--confirm {
        background: #f74343;

        &:hover {
          background: #e03131;
          box-shadow: 0 4px 10px rgba(247, 67, 67, 0.6);
        }
      }

      &--all {
        background: #ff7f35;

        &:hover {
          background: #e06f2d;
          box-shadow: 0 4px 10px rgba(255, 127, 53, 0.6);
        }
      }

      &--rest {
        background: #2a88cb;

        &:hover {
          background: #206fad;
          box-shadow: 0 4px 10px rgba(42, 136, 203, 0.6);
        }
      }
    }
  }

  &__inputCode {
  }

  &__inputCode {
    width: 100%;
    height: 48px;
    position: relative;
    &-text {
      position: absolute;
      left: 0;
      width: 204px;
      height: 100%;
      border-radius: 90px;
      background: #2a88cb;
      color: #fff;
      @include flex(center, center);
      font-size: 22px;
      font-weight: 900;
    }

    &-input {
      width: 100%;
      height: 100%;
      padding-left: calc(204px + 24px);
      padding-right: 24px;
      border: 1px solid #2a88cb;
      border-radius: 90px;
    }
  }
}
