$root-block-name: '.product-detail-one';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__icon: #{$p}__icon;

  &__text {
    &--red {
      color: #eb4335;
    }
    &--blue {
      color: #2a88cb;
    }
  }
}
