$root-block-name: '.transaction';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  padding: 48px;
  @include flex;
  flex-direction: column;
  gap: 24px;

  #{$p__text} {
    color: #7c7c7c;
    font-size: 24px;
  }

  &__item {
    &-title {
      #{$p__text} {
        color: #eb9838;
        font-weight: bold;
        font-size: 28px;
      }
    }

    &-main {
      margin-top: 12px;
      margin-left: 24px;
      @include flex(null, null, column);
      gap: 12px;
    }
  }
}
