$root-block-name: '.dashboard';

#{$root-block-name} {
  @include flex(null, null, column);
  width: 100%;
  min-height: 100vh;
  background: #f6fdfd;

  &__layout {
    @include flex;
    flex: 1;
  }

  &__main {
    margin: 0 auto;
    flex: 1;
    padding: 24px;
  }
}
