$root-block-name: '.memberManagement';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__btn: #{$p}__btn;

  &__info {
    text-align: center;
    #{$p__text} {
      &--title {
        font-size: 14px;
        color: #7f8c8d;
        font-weight: 500;
      }
      font-size: 24px;
      font-weight: 700;
      color: #2c3e50;
      margin-top: 5px;
    }
  }
}
