$root-block-name: '.fheader';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__logo-img: #{$p}__logo-img;

  width: 100%;
  padding: 24px 0;
  @include flex(null, null, column);
  position: relative;

  @include screen(lg) {
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 600px;
    background: linear-gradient(180deg, #d8ffff 0%, #ffffff 99%);
    z-index: -1;
  }

  &__logo {
    margin: 0 auto;
    width: 128px;
    height: 11opx;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 auto;

    &--open {
      @include screen(md) {
        transform: translateX(0);
      }
    }
    &-items {
      @include flex(center);
      gap: 32px;
    }

    &-item {
      min-height: 31px;
      font-size: 20px;
      @include flex(center);
      gap: 12px;
      @include screen(lg) {
        flex-direction: column;
        font-size: 14px;
      }
      &-icon {
        @include flex(center);
        font-size: 26px;
        @include screen(lg) {
          font-size: 22px;
        }
      }
    }
  }
  &__btns {
    @include flex(center);
    position: absolute;
    top: 140px;
    right: 100px;
    @include screen(lg) {
      top: 24px;
      right: 20px;
      bottom: auto;
    }
  }
  &__btn {
    @include flex(center, center);
    width: 100px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid;
  }

  &__marquee {
    @include w_h(100%, 61px);
    @include flex(center, center);
    background: #85ffff;
    overflow: hidden;
    padding: 0 38px;
    margin-top: 20px;

    #{$p__text} {
      font-size: 18px;
      font-weight: 400;
      word-break: keep-all;
      animation: marquee 20s linear infinite;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(-150%);
  }
}
