$root-block-name: '.orderShipmentDialog';
#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  @include flex;
  padding: 36px;
  flex: 1;
  flex-direction: column;
  &__text {
    color: #4787c7;
    letter-spacing: 0.5px;
    font-size: 16px;

    &--title {
      font-size: 20px;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__btns {
    margin: 8px 0;
  }

  &__btn {
    width: 120px;
    height: 48px;
    background: #6b9fd2;

    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 2px;
  }
}
@media print {
  * {
    font-size: 10px;
  }
  @page {
    size: A4;
    /* 强制纸张大小为 A4 */
    margin: 3mm;
    /* 页面边距 */
    padding: 0;
    /* 页面内边距 */
  }
}
